@using System.Web.Mvc.Html
@using SharedSource.FaceRecognition.Helpers
@using SharedSource.FaceRecognition.Services
@using Sitecore.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Extensions
@using Sitecore.Resources.Media

@{
    Layout = null;
}

<!DOCTYPE html>

@{
    var faceService = new FaceService();
    var images = faceService.GetImages();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Tagging Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/initializeTaggedImage.js")"></script>
    <script src="@Url.Content("~/Scripts/notiny.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.nanogallery2.min.js")"></script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="/Styles/facerecognition.css"/>
    <link rel="stylesheet" href="/Styles/notiny.min.css"/>
    <link rel="stylesheet" href="/Styles/nanogallery/nanogallery2.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
</head>
<body>


<div class="upload-section">
    <!-- Change /upload-target to your upload address -->
    <form action="@Url.Action("UploadImage", "Face")" class="dropzone">

    </form>
</div>

<div class="images-section container" id="container">
    <div class="row">
        @{ var index = 0;}
        @foreach (var image in images)
        {
            <div class="col-md-6 col-xs-12">
                @Html.RenderFaceImage(image)
            </div>
            if(index%2 == 1)
            {
                 <div class="clearfix" style="margin-bottom: 10px;"></div>
            }
            index++;
        }
    </div>
</div>
@Html.Action("IdentifyTag", "Face")
</body>
</html>
